{% assign without-image = nil %}

<div class="article">
  <div class="container">

    <div class="article__wrapper">

        {% if post.image %}
          <a href="{{post.url | prepend: site.url}}" class="article__image" style="background-image: url({{site.url}}/images/{{post.image}})">
          </a>
        {% else %}
          {% assign without-image = 'article-without-image' %}
        {% endif %}

        <div class="article__content {{ without-image }}">
          <div class="article-tags">
          {% if post.tags.size >= 1 %}
          {% else %}
          {% endif %}
          </div>
      
          <h2 class="article__title">
            <a href="{{ post.url | prepend: site.url }}">{{post.title}}</a>
          </h2>
      
          <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}</p>
          
          <div class="article__footer">

            <a href="{{post.url | prepend: site.url}}" class="read-more">Keep Reading <i class="ion ion-ios-arrow-forward"></i></a>
          </div>

        </div>

      </div>
      
  </div>
</div>